body {
  min-width: 1200px;
  font-weight: 400;
	font-size: 16px;
  line-height: 22px;
	font-family: 'Roboto', Arial, sans-serif;
	color: #fff;
  background-color: #849d8f;
}

.wrapper {
	width: calc(1200px - 4.6%);
	margin: 0 auto;
	padding: 0 2.3%;
	border: 2px solid white;
}

.header-top {
	display: flex;
	justify-content: space-between;
	font-size: 0;
}

.header-top .header-logo {
	display: inline-block;
	width: 154px;
	height: 64px;
}

.header-top .main-navigation {
	display: inline-block;
	vertical-align: top;
}

.main-navigation .main-menu {
	margin: 0;
	padding: 0;
	width: 500px;
	list-style: none;
}

.main-navigation .main-menu > li {
	position: relative;
	display: inline-block;
}

.main-navigation .main-menu a {
	display: block;
	font-size: 16px;
	color: #fff;
}

.main-menu .sub-menu {
	position: absolute;
	display: none;
	list-style: none;
}

.main-menu > li:hover .sub-menu {
	display: block;
}

.header-top .action-button a {
	font-size: 16px;
	color: #fff;
}

.header-bottom {
	display: flex;
	justify-content: space-between;
}

.header-bottom .info-block {
	align-self: flex-start;
	width: 200px;
}

.header-bottom .slider-top {
	align-self: center;
}

.header-bottom .slider-control {
	align-self: flex-end;
}

.flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;	
	border: 2px solid black;
}

.stock-item,
.subs,
.blog {
	width: 500px;
}

.product-item {
	width: 267px;	
}

.sorting  {
	display: flex;	
	flex-wrap: wrap;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 0;
max-height: 300px;
}


.feature-list p {
	width: 500px;
}

.map {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	border: 2px solid white;
}

.map .marker {
	position: absolute;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-links {
	list-style: none;
	padding: 0;
	margin: 0;	
	min-width: 400px;
	max-height: 60px;
}

