body {
  min-width: 1200px;
	margin: 0;
	padding: 0;
  font-weight: 400;
	font-size: 16px;
  line-height: 22px;
	font-family: 'Roboto', Arial, sans-serif;
	color: #ffffff;
  background-color: #849d8f;
}

.wrapper {
	width: calc(1200px - (1200px*0.046));
	margin: 0 auto;		
}

.header-top {
	display: flex;
	justify-content: space-between;
}

.header-top {
	font-size: 0;
}

 .header-left .header-logo {
	display: inline-block;
	vertical-align: top;
	width: 154px;
	height: 64px;
	padding-top: 9px;
}

.header-left .main-navigation {
	display: inline-block;
	vertical-align: top;
	padding-top: 30px;
	padding-left: 24px;
}

.main-navigation .main-menu {
	margin: 0;
	padding: 0;
	min-width: 350px;
	list-style: none;
}

.main-navigation .main-menu > li {
	position: relative;
	display: inline-block;
	padding-right: 27px;
}

.main-navigation .main-menu > li > a {
	display: block;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;	
}

.main-menu > li > a {	
	border-bottom: 2px solid #98b2a4;
}	

.main-menu > li:hover .sub-menu {
	display: block;	
	background-color: white;
}

.main-menu > li:hover .sub-menu a {
	color: black;
}

.main-menu > li > a:hover {
	color: black;
	background-color: white;
	border-radius: 30px;
	border: none;
	margin: -5px -10px;
	padding: 5px 10px;
} 

.main-menu > li > a:active {
	color: black;
	background-color: white;
	border-radius: 30px;
	border: none;
	margin: -5px -10px;
	padding: 5px 10px;
	box-shadow: inset 0 2px 5px 0 black;
}

.main-menu .sub-menu {
	display: none;
	position: absolute;
	top: 23px;
	left: -10px;	
	margin: 0;
	padding: 0;
	min-width: 130px;		
	border-top: 3px solid #849d8f;
	border-radius: 10px;
	list-style: none;	
}

.sub-menu li {
	padding: 5px 10px;
}

.sub-menu li:hover {
	background-color: yellow;	
}

.sub-menu a {
	display: block;	
	font-size: 14px;
	text-decoration: none;
}

.sub-menu .item-bold {
	font-weight: 700;
	border-bottom: 1px solid black;
}

.header-right .action-button {
	margin: 0;
	padding: 0;
	list-style: none;
}

.header-right .action-button li {
	display: inline-block;
	position: relative;
	vertical-align: top;
	margin-top: 23px;
	margin-left: 10px;
	background-color: #9db1a5;
	border-radius: 30px;
	font-size: 14px;
	line-height: 16px;
}

.action-button a {
	padding-left: 12px;
	font-weight: 500;
	color: #ffffff;
	text-decoration: none;

}

.action-button .search {
	padding-left: 0;
	font-size: 0px;
}

.action-button .basket {
	padding-right: 33px;
}

.action-button .enter {
	padding-right: 17px;
}

.action-button .btn-link::before {
	display: inline-block;
	content: "";	
	vertical-align: middle;
	width: 20px;
	height: 20px;
}

.action-button .search::before {
	margin: 8px;
	width: 17px;
	height: 17px;
	background: url(../img/search.png) no-repeat;
}

.action-button .enter::before {
	margin: 6px;
	background: url(../img/search.png) no-repeat;
}

.action-button .basket::before {
	margin: 6px;
	background: url(../img/search.png) no-repeat;
}

.action-button li:hover .modal {
	display: block;	
} 

.modal {
	display: none;
	position: absolute;	
	background: #ffffff;
	border-radius: 5px;	
}

.search-form {
	left: -190px;	
}

.search-form input {	
	width: 200px;
	margin: 20px 10px;
	padding: 10px;
	border: none;
	border: 1px solid black;
	border-radius: 5px;	
}

.enter-form input {
	width: 200px;
	margin: 10px 10px;
	padding: 10px;
	border: none;
	border: 1px solid black;
	border-radius: 5px;
}

input[type="submit"] {		
	padding: 12px 22px;
	color: #ffffff;		
	background-color: red;
	border-radius: 30px;
	text-decoration:none;
	text-shadow: 1px 1px 5px #333333;
	box-shadow: 0 2px 5px #333333;
}

.enter-form .registration a {	
	padding: 0;	
	font-size: 10px;	
	color: black;
	border: 1px solid black;	
}

.enter-form .half-width {		
	display: flex;
}

.header-bottom {
	display: flex;
	justify-content: flex-end;
}

.header-bottom .info-block {
	width: 175px;
	text-align: right;
}

.info-block p {
	margin: 0;	
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
}

.info-block b{
	display: block;
	margin-top: 5px;
	font-size: 22px;
	line-height: 24px;
}

.slider {	
	margin-top: 230px;
	margin-bottom: 90px;
}

 .slider-top {	
	margin: 0 auto;
	width: 670px;
}

 .slider-tagline h2 {
	margin: 0;
	width: 670px;
	font-weight: 700;
	font-size: 60px;
	line-height: 60.35px;
	text-align: center;
}

.slider-top .slider-slides {
	width: 300%;
	float: left;
}

.slider-top {
	overflow: hidden;
}

 .slider-control {
	align-self: flex-end;
}

.btn {	
	display: inline-block;
	padding: 10px 23px;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	background-color: red;
	border-radius: 30px;
	text-decoration:none;
	text-shadow: 1px 1px 5px #333333;
	box-shadow: 0 2px 5px #333333;
}

.flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.stock-item,
.subs-form,
.blog {
	width: 560px;
	min-height: 230px;
}

.stock-item  h3 {
	margin: 0;
	margin-top: 18px;
	margin-left: 18px;	
	font-weight: 700;
	font-size: 35px;
	line-height: 41px;
}

.stock-item p {
	margin: 0;
	margin-top: 13px;
	margin-left: 19px;
	width: 520px;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}

.stock-item .btn-stock{
	margin-top: 45px;
	margin-right: 20px;
	text-align: right;	
}

.product-item {
	width: 267px;	
	margin-top: 40px;
}

.product-item img {	
	border: 0 solid black;
	border-radius: 50%;
	overflow: hidden;
}

.product-item .price {
	margin-top: -65px;
	font-weight: 700;
	font-size: 45px;
	line-height: 45px;
}

.price img {	
	padding-bottom: 7px;
	padding-left: 3px;
	vertical-align: bottom;	
}

.price span {
	
	font-size: 30px;	
}

.product-item p {
	text-align: center;
	margin: 0;
	margin-top: 22px;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
}

.product-item p a {
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid #ffffff;
}

.product-view {
	display: none;
}

.sorting  {
	display: flex;	
	flex-wrap: wrap;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 0;	
}

.feature-list {
	max-height: 280px;
}

.features {	 
	margin-top: 35px;	
	color: black;	
	min-height: 305px;
}

.features h3 {
	margin: 0;
	padding-top: 27px;
	padding-left: 22px;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;	
}

.feature-list .feature-item {		
	margin-top: 22px;
	margin-left: 22px;	
	width: 530px;
}

.feature-list p {	
	margin: 0;	
	padding-left: 53px;
}

.feature-list .short {
	padding-left: 49px;
}

.advice-block {
	margin-top: 40px;
	color: #000000;
}

.advice-block .blog b {
	display: block;	
	margin-top: 27px;
	margin-left: 20px;	
	font-weight: 500;
}

.blog .blog-info {
	margin: 0;
	margin-top: 4px;
	margin-left: 19px;	
	width: 285px;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
}

.blog-info a {
	color: #000000;	
}

.subs-form .subs {
	margin: 0;	
	margin-top: 38px;
	margin-left: 27px;
	width: 510px;
}

.subs-form .subs-email {
	margin-top: 36px;
	margin-left: 28px;
}

.subs-email input[type="email"] {
	margin-right: 10px;
	padding: 12px;
	width: 340px;
	border: 1px solid #000000;
	}

.map {
	position: relative;
	margin: 0 auto;
	margin-top: 32px;
	width: 1200px;
	min-height: 430px;	
}

.map .marker {
	position: absolute;
}

.map-form {
	position: absolute;
	top: 66px;	
	right: 27px;
	width: 302px;
	min-height: 300px;
	color: #000000;
	background-color: #ffffff;
	border-radius: 10px;
}

.map-form p {
	margin: 0;
}

.map-form .address-norm {
	margin-top: 28px;
	margin-left: 25px;
	width: 150px;
	font-size: 14px;
	line-height: 20px;	
}

.map-form .address-bold {
	display: inline-block;
	margin-left: 26px;
	width: 250px;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}

.map-form .tel-norm {
	margin-top: 18px;
	margin-left: 25px;
	font-size: 14px;
	line-height: 20px;
}

.map-form .tel-bold {
	display: inline-block;	
	margin-top: 5px;
	margin-left: 25px;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}

.map-form .time-norm {
	margin-left: 25px;
	font-size: 14px;
	line-height: 22px;
}

.btn-map {	
	margin-top: 25px;
	margin-left: 28px;	
}

.btn-map .feedback {
	padding: 10px 25px;
}

.links-list {
	min-width: 330px;
	max-height: 50px;
	font-size: 13px;
	line-height: 18px;
}

.links-list .heart {
	font-weight: 700;
}

.copyright {
	font-size: 12px;
	line-height: 18px;
}

.copyright p {
	margin: 0;
}
