body {
  min-width: 900px;
	height: 100%;
	margin: 0;
	padding: 0;
  font-weight: 400;
	font-size: 16px;
  line-height: 22px;
	font-family: 'Roboto', Arial, sans-serif;
	color: #ffffff;
	background-color: #849d8f;
}

.site-wrapper {
	min-width: 900px;
	background-repeat: no-repeat;
	background-position: top center;
	transition: background-color 0.5s ease,
							background-image 0.5s ease;
}

.site-wrapper:before,
.site-wrapper:after {
	content:"";
	visibility: hidden;
}


}

.site-wrapper {
	min-width: 900px;
	background-repeat: no-repeat;
	background-position: top center;
	transition: background-color 0.5s ease,
							background-image 0.5s ease;
}

.site-wrapper:before,
.site-wrapper:after {
	content:"";
	visibility: hidden;
}


.site-wrapper:before,
.site-wrapper:after {
	background-image: url("../img/ice_slider_3_lg.png");
}


.site-wrapper:after {
	background-image: url("../img/ice_slider_2_lg.png");
}



.site-wrapper:after {
	background-image: url("../img/ice_slider_2_lg.png");
}


.content-wrapper {
	width: calc(1200px - (1200px*0.046));
	margin: 0 auto;
}

.visually-hidden, input[type="radio"], input[type="checkbox"] {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.btn {
	display: inline-block;
	padding: 10px 21px;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	vertical-align: top;
	color: #ffffff;
	text-decoration:none;
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border: 0;
	border-radius: 100px;
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover,
.btn:focus {
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 1);
	outline: none;
}

.btn:active {
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0px 2px 2px rgba(172, 16, 0, 1);
}

.header-top {
	display: flex;
	justify-content: space-between;
	font-size: 0;
}

 .header-left .header-logo {
	display: inline-block;
	vertical-align: top;
	padding-top: 9px;
	width: 154px;
	height: 64px;
	font-size: 18px;
}

.header-left .main-navigation {
	display: inline-block;
	vertical-align: top;
	padding-top: 30px;
	padding-left: 24px;
}

.main-navigation .main-menu {
	margin: 0;
	padding: 0;
	min-width: 350px;
	list-style: none;
}

.main-menu > li {
	position: relative;
	display: inline-block;
	padding-right: 27px;
}

.main-menu .active {
	margin: -7px -13px -8px;
	padding: 7px 13px 8px;
	color: #ffffff;
	background-color: #d07058;
	border-radius: 30px;
	border: none;
}

.main-menu > li > a {
	display: block;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
}

.main-menu > li > a {
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.main-menu > li:hover .sub-menu {
	display: block;
}

.main-menu > li:hover .sub-menu a {
	color: #323232;
}

.main-menu > li:hover > a:not(.active),
.main-menu > li > a:focus:not(.active) {
	margin: -7px -13px -8px;
	padding: 7px 13px 8px;
	color: #333333;
	background-color: #f7f6f3;
	border-radius: 30px;
	border: none;
	outline: 0;
}

.main-menu > li > a:active {
	margin: -5px -10px;
	padding: 5px 10px;
	color: #333333;
	background-color: #ededed;
	border-radius: 30px;
	border: none;
	box-shadow: inset 0px 2px 1px 0 #696969;
}

.main-menu > li > .active:active {
	color: #ffffff;
	background-color: #d07058;
}

.main-menu .sub-menu {
	display: none;
	position: absolute;
	top: 26px;
	left: -20px;
	margin: 0;
	padding: 0;
	padding-top: 5px;
	min-width: 143px;
	list-style: none;
}

.sub-menu li {
	background-color: #f7f6f3;
	box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.sub-menu a {
	display: block;
	padding: 6px 20px 4px;
	font-size: 14px;
	text-decoration: none;
}

.sub-menu .item-bold {
	padding: 7px 20px;
	font-weight: 700;
}

.sub-menu li:first-child::after {
	display: table;
	content: "";
	margin: 0 9px 0 6px;
	width: 128px;
	height: 1px;
	background-color: rgba(50, 50, 50, 0.2);
}

.sub-menu li:last-child a {
	padding-bottom: 10px;
}

.sub-menu li:first-child,
 .sub-menu li:first-child a {
	border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.sub-menu li:nth-child(4) {
	display: block;
}

.sub-menu li:last-child,
.sub-menu li:last-child a {
	margin-top: -1px;
	border-bottom-left-radius: 4px;
  border-bottom-right-radius: 5px;
}

.sub-menu .sub-active {
	background-color: #d07058;
}

.sub-menu li:hover:not(.sub-active) {
	background-color: #fbded7;
}

.sub-menu a:active {
	background-color: #f6b5a5;
}

.header-right .action-buttons {
	margin: 0;
	padding: 0;
	list-style: none;
}

.action-buttons .button-item {
	display: inline-block;
	position: relative;
	vertical-align: top;
	margin-top: 23px;
	margin-left: 10px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 30px;
	font-size: 14px;
	line-height: 16px;
}

.action-buttons a {
	padding-left: 11px;
	font-weight: 500;
	color: #ffffff;
	text-decoration: none;
}

.action-buttons .search {
	display: inline-block;
	padding: 6px 9px 0 6px;
	font-size: 0px;
}

.action-buttons .enter {
	display: inline-block;
	padding: 5px 17px 4px 15px;
}

.action-buttons .basket-full {
	background-color: #f8f7f4;

}

.button-item .basket {
	display: inline-block;
	padding: 5px 0px 3px 17px;
	box-sizing: border-box;
	width: 117px;
}

.basket-full .basket {
color: black;
}

.action-buttons span {
	display: inline-block;
	vertical-align: top;
	padding-top: 3px;
	padding-left: 3px;
}

.action-buttons .button-item:hover {
	background-color: #f8f7f4;
	outline: none;
}

.action-buttons svg {
	fill: #ffffff;
}

.button-item:hover svg {
  fill: #000000;
}

.button-item:hover span {
	color: black;
}

.button-item:hover .modal {
	display: block;
}

.modal {
	padding-top: 4px;
	display: none;
	position: absolute;
}

.modal form,
.modal .basket-content {
	background: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.search-form form {
	margin-left: -310px;
}

.search-form  input {
	width: 310px;
	margin: 20px 15px;
	padding: 13px 13px;
	border: none;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
}

.enter-form form {
	margin-left: -185px;
	min-height: 215px;
}

.enter-form input {
	width: 213px;
	margin-top: 20px;
	margin-left: 20px;
	padding: 13px;
	border: none;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
}

.enter-form .btn {
	margin: 18px 18px 20px;
	padding: 12px 20px 10px;
	width: 100px;
	border-radius: 20px;
  box-shadow: 0px 1px 2px 0 #ac1000;
}

.enter-form .registration {
	margin-top: 17px;
	margin-left: 3px;
}

.registration a {
	display: block;
	padding: 0px;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #323232;
	text-decoration: underline;
}

.enter-form .half-width {
	display: flex;
}

.modal .basket-content {
	margin-left: -423px;
	padding-top: 10px;
	width: 540px;
	font-size: 13px;
	line-height: 16px;
	color: black;
	min-height: 232px;
}

.basket-content table {
	margin-left: 15px;
	border-collapse: collapse;
}

.basket-content td {
	height: 50px;
}


.table-link a {
	display: block;
	width: 228px;

}

.basket-content span {
	padding: 0;
}

.basket-content img {
	padding-right: 5px;
}

.basket-table a {
	padding:0;
	padding-left: 3px;
	padding-right: 17px;
	font-weight: 400;
	color: #000000;
}

.basket-content .table-price {
	padding-left: 7px;
	width: 93px;
	text-align: center;
}

.basket-content .table-link {
	vertical-align: bottom;
}

.basket-content .line {
	border-bottom: 1px solid #cacac7;
	height: 15px;
}

.basket-content .cross-btn {
	border: none;
	background: none;
	cursor: pointer
}

.basket-content .sum {
	vertical-align: middle;
	text-align: right;
	height: 44px;
}

.sum b {
	padding: 0;
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 10px;
}

.order-form {
	margin-right: 10px;
	text-align: right;
}

.header-bottom {
	display: flex;
	justify-content: flex-end;
}

.header-bottom .info-block {
	width: 175px;
	text-align: right;
}

.info-block p {
	margin: 0;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
}

.info-block b {
	display: block;
	margin-top: 5px;
	font-size: 22px;
	line-height: 24px;
}

.breadcrumbs {
	margin: 0;
	margin-top: -20px;
	padding: 0;
	font-size: 0;
	list-style: none;
}

.breadcrumbs li {
	display: inline-block;
	font-size: 14px;
	line-height: 16px;
}

.breadcrumbs a {
	color: #ffffff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	text-decoration: none;
}

.breadcrumbs a:hover:not(.btn),
.breadcrumbs a:active:not(.btn),
.breadcrumbs a:focus:not(.btn){
	color: #ffbc9e;
	border-bottom-color: rgba(255, 188, 158, 0.3);
	outline: none;
}

.breadcrumbs li:not(:last-child)::after {
	content: '»';
	margin: 0 7px;
	width: 5px;
	height: 5px;
}


.slider {
	position: relative;
	margin-top: 275px;
	text-align: center;
}

.slide {
	display: none;
}

.slider .slide-tagline {
	margin: 0 auto;
	width: 700px;
	font-weight: 700;
	font-size: 60px;
	line-height: 60.35px;
	text-align: center;
}



.slide .order {
	margin-top: 28px;
	padding: 12px 45px;
	font-size: 31px;
	line-height: 41px;
 }

.slider-controls {
	position: absolute;
	bottom: 25px;
	left: 0;
	z-index: 1;
	font-size: 0;
 }
=======
.slide .order {
	margin-top: 28px;
	padding: 12px 45px;
	font-size: 31px;
	line-height: 41px;
 }

.slider-controls {
	position: absolute;
	bottom: 25px;
	left: 0;
	z-index: 1;
	font-size: 0;
 }

=======
.slide .order {
	margin-top: 28px;
	padding: 12px 45px;
	font-size: 31px;
	line-height: 41px;
 }

.slider-controls {
	position: absolute;
	bottom: 25px;
	left: 0;
	z-index: 1;
	font-size: 0;
 }


.slider-controls label {
	display: inline-block;
	margin-right: 8px;
	width: 17px;
	height: 17px;
	vertical-align: top;


	background-color: rgba(255, 255, 255, 0);
	border: 2px solid rgba(255, 255, 255, 1);
	border-radius: 50%;
	cursor: pointer;

 }

#btn-1:checked ~ .slider-desc label[for="btn-1"],
#btn-2:checked ~ .slider-desc label[for="btn-2"],
#btn-3:checked ~ .slider-desc label[for="btn-3"]  {
	background-color: rgba(255, 255, 255, 1);


 }

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
	display: block;
 }

#btn-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url(../img/ice_slider_1_lg.png)

}

#btn-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url(../img/ice_slider_2_lg.png)
}

#btn-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url(../img/ice_slider_3_lg.png)
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"]  {
	background-color: rgba(255, 255, 255, 1);
}

.slider-controls label:hover {
	background-color: rgba(255, 255, 255, 0.4);
}


.flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.product-brand {
	margin: 0;
	margin-top: 0;
	font-size: 35px;
	line-height: 41px;
}

.sort-form {
	margin-top: 20px;
	width: 950px;
}

.sort-form label,
.sort-form legend {
	margin-left: 15px;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
}

.sort-section {
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
}

.sort-items {
	margin-right: 10px;
}

>>>>>>> 63123358f7624f82a032a6147733a2d392f9531e
.form-wrapper {
	margin-top: 5px;
	padding: 8px 6px 5px 13px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 30px;
}

.form-wrapper label {
	margin: 0;
	font-size: 16px;
	line-height: 18px;
	vertical-align: middle;
}



.sort-items .select-wrapper {
	position: relative;
	margin-top: 5px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 30px;
}

.select-wrapper select {
  padding: 9px 35px 9px 16px;
	color: #ffffff;
	background-color: transparent;
	border: 0;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.select-wrapper select::-ms-expand{
  display: none;
}

.select-wrapper option {
	color: #000000;
}

.select-wrapper .select-arrow {
	position: absolute;
  right: 18px;
  bottom: 15px;
	width: 9px;
	height: 5px;
	background-image: url(../img/select-arrow.svg);
}

.sort-items fieldset {
	padding: 0;
	border: none;
}

.fat-content label {
	margin-right: 10px;
}

.form-wrapper input[type="radio"] + label::before {
	display: inline-block;
	content:'';
	padding-right: 10px;
	width: 25px;
	height: 25px;
	opacity: 0.8;
	background-image: url(../img/radio-off.svg);
	background-repeat: no-repeat;
	vertical-align: middle;
	cursor: pointer;
 }

input[type="radio"]:checked + label::before {
	opacity: 0.8;
	background-image: url(../img/radio-on.svg);
}

.form-wrapper input[type="radio"] + label:hover::before,
.form-wrapper input[type="radio"]:focus + label::before {
	opacity: 1;
}

.fillers label {
	margin-right: 17px;
}

.form-wrapper input[type="checkbox"] + label::before {
	display: inline-block;
	content:'';
	padding-right: 12px;
	width: 20px;
	height: 23px;
	opacity: 0.8;
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
	vertical-align: middle;
	cursor: pointer;
 }

input[type="checkbox"]:checked + label::before {
	opacity: 0.8;
	background-image: url(../img/checkbox-on.svg);
}

.form-wrapper input[type="checkbox"] + label:hover::before,
.form-wrapper input[type="checkbox"]:focus + label::before {
	opacity: 1;
}

.sort-button {
	display: block;
	margin-top: 20px;
	padding: 8px 25px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 600;
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.2);
	border: 2px solid #ffffff;
	border-radius: 30px;
	cursor: pointer;
}

.sort-button:hover,
.sort-button:focus {
	color: #323232;
	background-color: rgba(255, 255, 255, 1);
}

.sort-button:active {
	color: #323232;
	background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
}

.stock-item,
.subs-form,
.blog {
	width: 560px;
}

.stock-items {
	position: relative;
	margin-top: 40px;
	min-height: 230px;
	z-index: 1;
}

.stock-items .left{
	background: #690c21 url(../img/raspberries-bg.jpg) no-repeat;
	border-radius: 15px;
}

.stock-items  .right {
	background: #4b3226 url(../img/shock-bg.jpg) no-repeat;
	border-radius: 15px;
}

.stock-item  .stock-name {
	margin: 0;
	margin-top: 18px;
	margin-left: 18px;
	font-weight: 700;
	font-size: 35px;
	line-height: 41px;
}

.stock-item p {
	margin: 0;
	margin-top: 13px;
	margin-left: 19px;
	width: 530px;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}

.stock-item .btn-stock{
	margin-top: 45px;
	margin-bottom: 25px;
	margin-right: 20px;
	vertical-align: top;
	text-align: right;
}

.products {
	display: flex;
	margin: 0 -12.8px;
	flex-wrap: wrap;
}

.product-item {
	width: 267px;
	margin: 0 12.8px;
	margin-top: 40px;
}

.product-item:hover {
	position: relative;
	margin-top: 34px;
	margin-left: -0.21px;
	margin-right: -0.21px;
	margin-bottom: -75px;
	padding: 6px 13px;
	padding-bottom: 75px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.product-item img {
	border-radius: 50%;
	overflow: hidden;
}

.hit::before {
	position: relative;
	display: block;
	content: "";
	width: 61px;
	height: 61px;
	margin-bottom: -60px;
	background: url(../img/hit.svg) no-repeat;
}

.product-item .price {
	margin-top: -65px;
	font-weight: 700;
	font-size: 45px;
	line-height: 45px;
}

.price img {
	padding-bottom: 7px;
	padding-left: 3px;
	vertical-align: bottom;
}

.price span {
	font-size: 30px;
}

.product-item p {
	text-align: center;
	margin: 0;
	margin-top: 15px;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
}

.product-item a:not(.btn) {
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.product-item a:hover:not(.btn),
.product-item a:active:not(.btn),
.product-item a:focus:not(.btn){
	color: #ffbc9e;
	border-bottom-color: rgba(255, 188, 158, 0.3);
	outline: none;
}

.product-view {
	display: none;
}

.product-item:hover .product-view {
	position: absolute;
	bottom: 0;
	display: inline-block;
	margin-bottom: 15px;
	margin-left: 32px;
	padding-right: 8px;
	padding-left: 18px;
	width: 180px;
}

.sorting  {
	display: flex;
	flex-wrap: wrap;*/
	list-style: none;
	margin: 0;
	padding: 0;
}

.features {
	margin-top: 42px;
	padding-bottom: 20px;
	color: #323232;
	background: #ebddbd url(../img/waffle_bg.jpg);
	border-radius: 15px;
}

.features .feateres-details {
	margin: 0;
	padding-top: 27px;
	padding-left: 22px;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
}

.feature-list .feature-item {
	display: flex;
	margin-top: 8px;
	margin-bottom: 5px;
	margin-left: 22px;
	width: 540px;
}

.feature-list p {
	margin: 0;
	margin-top: 10px;
	margin-left: 7px;
	width: 480px;
}

.feature-list li::before {
	display: block;
	content: "";
	width: 49px;
	height: 49px;
}

.feature-list li:first-child::before {
	background: url(../img/ice-cream.svg) no-repeat;
}

.feature-list li:nth-child(2)::before {
	background: url(../img/cow.svg) no-repeat;
}

.feature-list li:nth-child(3)::before {
	background: url(../img/eco.svg) no-repeat;
}

.feature-list li:last-child::before {
	background: url(../img/thermometer.svg) no-repeat;
}

.advice-block {
	margin-top: 38px;
	min-height: 220px;
	color: #323232;
}

.blog {
	background: #ffffff url(../img/strawberry-bg.jpg) no-repeat;
	background-position: -25px -225px;
	border-radius: 15px;
}

.blog b {
	display: block;
	margin-top: 26px;
	margin-left: 20px;
	font-weight: 505;
}

.blog .blog-info {
	margin: 0;
	margin-top: 4px;
	margin-left: 19px;
	width: 290px;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
}

.blog-info a {
	color: #5a5a5a;
}

.blog-info a:hover,
.blog-info a:active,
.blog-info a:focus {
	color: #e84d37;
	outline: none;
}

.subs-form {
	background: #f8f7f4 url(../img/bg-post.svg) no-repeat;
	border-radius: 15px;
}

.subs-form .subs-fon {
	margin: 5px;
	min-height: 210px;
  background-color: #f8f7f4;
	border-radius: 10px;
}

.subs-fon .subs {
	margin: 0;
	padding-top: 32px;
	padding-left: 22px;
	width: 510px;
}

.subs-form .subs-email {
	margin-top: 36px;
	padding-left: 24px;
}

.subs-email input[type="email"] {
	margin-right: 8px;
	padding: 12px;
	width: 340px;
	border: 1px solid rgba(178, 178, 178, 0.52);
	border-radius: 5px;
	}

.subs-email .btn {
	padding: 10px 15px;
}

.map {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	margin: 0 auto;
	margin-top: 40px;
	width: 1200px;
	min-height: 430px;
	background: #e9e2c6 url(../img/map_bg.jpg) no-repeat;
}

.map .marker {
	display: none;
}

.map-form {
	margin-top: 65px;
	margin-right: 25px;
	width: 302px;
	min-height: 200px;
	color: #323232;
	background-color: #ffffff;
	border-radius: 10px;
}

.map-form p {
	margin: 0;
}

.map-form .address-norm {
	margin-top: 30px;
	margin-left: 25px;
	width: 150px;
	font-size: 14px;
	line-height: 20px;
}

.map-form .address-bold {
	display: inline-block;
	margin-left: 26px;
	width: 250px;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}

.map-form .tel-norm {
	margin-top: 18px;
	margin-left: 25px;
	font-size: 14px;
	line-height: 20px;
}

.map-form .tel-bold {
	display: inline-block;
	margin-top: 5px;
	margin-left: 25px;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}

.map-form .time-norm {
	margin-left: 25px;
	font-size: 14px;
	line-height: 22px;
}

.btn-map {
	margin-top: 25px;
	margin-left: 28px;
	margin-bottom: 35px;
}

.btn-map .feedback {
	padding: 10px 25px;
}

.paginator {
	display: flex;
	justify-content: flex-end;
	margin: 0;
	margin-top: 118px;
	margin-bottom: 34px;
	padding: 0;
	font-size: 0;
	list-style: none;
}

.disabled svg {
	transform: rotate(180deg);
	transform-origin: 50% 50%;
}

.paginator li {
	display: inline-block;
	margin-left: 21px;
	font-size: 16px;
	line-height: 18px;
	vertical-align: top;
}

.paginator a {
	color: #ffffff;
	text-decoration:none;
	fill: #ffffff;
}

.paginator .page:hover {
	margin: -4px -9px -4px -9px;
	padding: 4px 9px;
	color: #000000;
	fill: #000000 ;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
}

.paginator .active,
.paginator .active:hover,
.paginator .page:active {
	margin: -4px -9px -4px -9px;
	padding: 4px 9px;
	color: #000000;
	background-color: rgb(255, 255, 255);
	border-radius: 50%;
}

.paginator .disabled {
	fill-opacity: 0.2;
	pointer-events: none;
	cursor: default;
}

footer {
	min-height: 100px;
	border-top: 1px solid rgba(255, 255, 255, 0.3)
}

footer a:hover:not(.logo-academy),
footer a:active:not(.logo-academy),
footer a:focus:not(.logo-academy) {
	color: #ffbc9e;
	border-bottom-color: rgba(255, 188, 158, 0.3);
	outline: none;
}

footer .footer-social {
	margin-top: 35px;
}

.footer-social .social-btn {
	position: relative;
	display: inline-block;
	margin-right: 7px;
	vertical-align: top;
}

.footer-social svg {
	width: 32px;
	height: 32px;
	fill: #ffffff;
	fill-opacity: 0.8;
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	z-index: -1;
}

.social-btn::before {
  display: block;
	position: absolute;
	content: '';
	top: 3px;
	right: 3px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

.social-btn:active::before {
  display: block;
	position: absolute;
	content: '';
	top: 3px;
	right: 3px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	box-shadow: inset 0 3px 2px 0 rgba(0, 0, 0, 0.5);
}

.social-btn:hover svg,
.social-btn:focus svg {
	fill: #ffffff;
	fill-opacity: 1;
	border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-btn:active svg {
	fill: #ffffff;
	fill-opacity: 1;
	border: 3px solid rgba(255, 255, 255, 0.7);
}

.footer-links .links-list {
	margin-top: 34px;
	margin-left: 43px;
	width: 350px;
	font-size: 13px;
	line-height: 18px;
}

.links-list li {
	display: block;
	width: 170px;
	margin-top: 2px;
}

.links-list li:nth-child(2n-1) {
	width: 145px;
}

.links-list a {
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.links-list .heart {
	font-weight: 700;
}

.links-list .heart::before {
	display: inline-block;
	content: "";
	vertical-align: bottom;
  margin-left: -21px;
	margin-right: 9px;
	width: 15px;
	height: 15px;
	background-image: url(../img/heart.svg);
	background-repeat: no-repeat;
}

.copyright {
	font-size: 12px;
	line-height: 18px;
}

.copyright .copyright-logo {
	margin-top: 20px;
	margin-left: 3px;
}

.copyright-logo a {
	display: inline-block;
	vertical-align: top;
	width: 107px;
	height: 38px;
	background-image: url(../img/logo-htmlacademy.svg);
	background-repeat: no-repeat;
}

.copyright p {
	margin: 0;
	margin-top: 5px;
}

.copyright p a {
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
